<h1> <%= task['name'] %> </h1>

<p> Uppgiften som du har sökt efter heter <%= task['name'] %>. </p>

<form action="complete" method="POST">
  <input type="hidden" id="taskid" name="taskid" value="<%= task['id'] %>"/>
  <input type="submit" value="Avklara"/>
</form>

<ol>
  <% users.each do |name| %>
    <li> <%= name['username'] %> </li>
  <% end %>
</ol>

<h2> Kommentarer </h2>
<form action="/comments/add" method="POST">
  <input type="hidden" id="taskid" name="taskid" value="<%= task['id'] %>"/>
  <input type="text" name="content" placeholder="Skriv en kommentar"/>
  <input type="submit" value="Kommentera"/>
</form>

<% if comments != nil %>
  <ol>
    <% comments.each do |comment| %>
      <li>
        <h3> <%= comment['username'] %> </h3>
        <h4> <%= Time.at(comment['time']) %> </h4>
        <p> <%= comment['text'] %> </p>
        <a href="/comments/<%= comment['id'] %>/edit"> Redigera </a>
        <form action="/comments/delete" method="POST">
          <input type="hidden" name="id" value="<%= comment['id'] %>"/>
          <input type="submit" value="Radera"/>
        </form>
      </li>
    <% end %>
  </ol>
<% end %>
